@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1B192B;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: roboto;
  color: #fff;
}

header {
  width: 100%;
  height: 4rem;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
}
header #logo {
  height: 60px;
  position: absolute;
  top: 0;
  left: 150px;
  cursor: pointer;
}
header #right {
  float: right;
  width: 25%;
  margin-right: 15%;
}
header #right ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header #right ul li {
  display: inline-block;
  cursor: pointer;
  transition: 0.2s;
}
header #right ul li a {
  text-decoration: none;
  color: inherit;
}
header #right ul li:hover {
  color: #B78AC1;
}
header #right ul .selected {
  color: #B78AC1;
  font-weight: bold;
}

#container #left {
  float: left;
  width: 50%;
  padding-left: 8rem;
  padding-top: 10rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#container #left h1 {
  font-size: 9rem;
  font-weight: 600;
  line-height: 1;
}
#container #left p {
  font-size: 1.6rem;
}
#container #left .pinkText {
  color: #B78AC1;
}
#container #left #downloadDiv {
  padding-top: 25rem;
  font-weight: bold;
}
#container #left #downloadDiv p {
  font-size: 1.5rem;
}
#container #left #downloadDiv .downloadText {
  line-height: 0.9;
  font-weight: bold;
  font-size: 3rem;
  color: #B78AC1;
  cursor: pointer;
}
#container #right {
  float: right;
  width: 50%;
}
#container #right .smallImg {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 24rem;
  position: absolute;
  top: 10rem;
  box-shadow: 0px 0px 8px black;
  border-radius: 1rem;
}
#container #right #orchImage {
  width: 45rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 19rem;
  background-image: url(../assets/base-layout.png);
  z-index: 3;
  box-shadow: 0px 0px 8px black;
  border-radius: 0.5rem;
  position: absolute;
  left: 60rem;
  transition: 0.2s ease;
}
#container #right #orchImage:hover {
  transform: scale(1.2);
}
#container #right #settingsImage {
  z-index: 1;
  left: 67rem;
  transform: rotateZ(-25deg);
  background-image: url(../assets/orch-share.png);
}
#container #right #shareImage {
  z-index: 2;
  left: 82rem;
  transform: rotateZ(25deg);
  background-image: url(../assets/orch-settings.png);
}

#downloads {
  display: flex;
  width: 70%;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  top: 8rem;
}
#downloads .card {
  width: 370px;
  height: 600px;
  background: linear-gradient(180deg, #3D6198 0%, rgba(105, 175, 239, 0) 97.82%);
  border-radius: 2rem;
}
#downloads .card .comingSoon {
  position: absolute;
  top: 16rem;
  margin-left: 5.5rem;
  font-size: 2rem;
  color: #B78AC1;
}
#downloads .card .content {
  text-align: center;
  display: grid;
  align-items: center;
  padding: 3rem;
}
#downloads .card .content h2 {
  font-size: 30px;
}
#downloads .card .content .icon {
  width: 130px;
  margin: 3.3rem auto;
}
#downloads .card .content .properties p {
  font-size: 20px;
}
#downloads .card .content .downloadBtn {
  margin: 4rem auto;
  padding: 0.5rem 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5rem;
  background-color: #D9D9D9;
  color: black;
  font-size: 25px;
  font-weight: 600;
  transition: 0.2s;
}
#downloads .card .content .downloadable {
  cursor: pointer;
}
#downloads .card .content .downloadable:hover {
  transform: scale(1.1);
}
#downloads .primary {
  transform: scale(1.2);
}

#docs {
  display: flex;
  margin: auto;
  position: relative;
  position: relative;
  top: 5rem;
}
#docs #navBar {
  float: left;
  width: 11rem;
  padding-left: 2rem;
  border-right: 1px solid black;
  margin-top: 0.5rem;
}
#docs #navBar ul li {
  padding: 0.5rem;
  list-style-type: none;
  cursor: pointer;
}
#docs #navBar ul .selected {
  font-weight: 600;
  color: #B78AC1;
}
#docs .splitLine {
  width: 2px;
  height: 80vh;
  background-color: white;
  border-radius: 1rem;
  float: right;
}
#docs .docContent {
  padding: 0 4rem;
  width: 60%;
  margin-top: 4rem;
  display: none;
}
#docs .docContent p {
  font-size: 1.2rem;
  margin: 1.4rem 0;
}
#docs .docContent ul,
#docs .docContent ol {
  font-size: 1.2rem;
  margin-left: 3rem;
}
#docs .docContent ul li,
#docs .docContent ol li {
  padding: 0.2rem;
}
#docs .docContent a {
  color: inherit;
}
#docs #_about {
  display: block;
}/*# sourceMappingURL=styles.css.map */