@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$bg-color: #1B192B;
$text-color: #fff;
$pink-color: #B78AC1;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: roboto;
  color: $text-color;
}

header {
  width: 100%;
  height: 4rem;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;

  #logo {
    height: 60px;
    position: absolute;
    top: 0;
    left: 150px;
    cursor: pointer;
  }

  #right {
    float: right;
    width: 25%;
    margin-right: 15%;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        display: inline-block;
        cursor: pointer;
        transition: .2s;

        a {
          text-decoration: none;
          color: inherit;
        }

        &:hover {
          color: $pink-color;
        }
      }

      .selected {
        color: $pink-color;
        font-weight: bold;
      }
    }
  }
}


#container {
  #left {
    float: left;
    width: 50%;
    padding-left: 8rem;
    padding-top: 10rem;
    user-select: none;

    h1 {
      font-size: 9rem;
      font-weight: 600;
      line-height: 1;
    }

    p {
      font-size: 1.6rem;
    }



    #downloadDiv {
      padding-top: 25rem;
      font-weight: bold;

      p {
        font-size: 1.5rem;
      }

      .downloadText {
        line-height: .9;
        font-weight: bold;
        font-size: 3rem;
        color: $pink-color;
        cursor: pointer;
      }
    }

  }

  #right {
    float: right;
    width: 50%;



    .smallImg {
      width: fit-content;
      height: 24rem;
      position: absolute;
      top: 10rem;
      box-shadow: 0px 0px 8px black;
      border-radius: 1rem;
    }

    #orchImage {
      width: 45rem;
      height: fit-content;
      margin-top: 19rem;
      background-image: url(../assets/base-layout.png);
      z-index: 3;
      box-shadow: 0px 0px 8px black;
      border-radius: .5rem;
      position: absolute;
      left: 60rem;
      transition: .2s ease;

      &:hover {
        transform: scale(1.2);
      }
    }

    #settingsImage {
      z-index: 1;
      left: 67rem;
      transform: rotateZ(-25deg);
      background-image: url(../assets/orch-share.png);

    }

    #shareImage {
      z-index: 2;
      left: 82rem;
      transform: rotateZ(25deg);
      background-image: url(../assets/orch-settings.png);
    }
  }
}

#downloads {
  display: flex;
  width: 70%;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  top: 8rem;

  .card {
    width: 370px;
    height: 600px;
    background: linear-gradient(180deg, #3D6198 0%, rgba(105, 175, 239, 0) 97.82%);
    border-radius: 2rem;

    .comingSoon {
      position: absolute;
      top: 16rem;
      margin-left: 5.5rem;
      font-size: 2rem;
      color: $pink-color;
    }

    .content {
      text-align: center;
      display: grid;
      align-items: center;
      padding: 3rem;



      h2 {
        font-size: 30px;
      }

      .icon {
        width: 130px;
        margin: 3.3rem auto;
      }

      .properties {
        p {
          font-size: 20px;
        }
      }

      .downloadBtn {
        margin: 4rem auto;
        padding: .5rem 1.5rem;
        width: fit-content;
        border-radius: 5rem;
        background-color: #D9D9D9;
        color: black;
        font-size: 25px;
        font-weight: 600;
        transition: .2s;

      }

      .downloadable {
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .primary {
    transform: scale(1.2);

  }

}

#docs {
  display: flex;
  margin: auto;
  position: relative;
  position: relative;
  top: 5rem;

  #navBar {
    float: left;
    width: 11rem;
    padding-left: 2rem;
    border-right: 1px solid black;
    margin-top: .5rem;

    ul {
      li {
        padding: .5rem;
        list-style-type: none;
        cursor: pointer;
      }

      .selected {
        font-weight: 600;
        color: $pink-color;
      }
    }
  }

  .splitLine {
    width: 2px;
    height: 80vh;
    background-color: white;
    border-radius: 1rem;
    float: right;
  }

  .docContent {
    padding: 0 4rem;
    width: 60%;
    margin-top: 4rem;
    display: none;

    p {
      font-size: 1.2rem;
      margin: 1.4rem 0;

    }

    ul,
    ol {
      font-size: 1.2rem;
      margin-left: 3rem;

      li {
        padding: .2rem;
      }
    }

    a {
      color: inherit;
    }
  }

  #_about {
    display: block;
  }
}

.pinkText {
  color: $pink-color;
}

@media only screen and (max-width: 1600px) {
  header {
    #right {
      width: 40% !important;
      margin-right: 5% !important;
    }
  }
}

@media only screen and (max-width: 1300px) {
  #container {
    #right {
      transform: scale(.5) !important;
      opacity: .5 !important;

      #orchImage {
        left: 0rem !important;
        right: 2rem !important;
        margin-top: 50rem !important;
      }

      #settingsImage {
        margin-top: 30rem !important;
        left: 10rem !important;
      }

      #shareImage {
        margin-top: 30rem !important;
        left: 20rem !important;
      }
    }
  }

  #downloads {
    .card {
      display: none;
    }

    .primary {
      display: block;
    }
  }
}

@media only screen and (max-width: 800px) {
  header {
    #left {
      display: none;
    }

    #right {
      width: 100% !important;
      margin: 0 2rem !important;
    }
  }

  #container {
    #left {
      width: 100% !important;
      text-align: center;
      padding-left: 0 !important;

      #downloadDiv {
        padding-top: 10rem !important;
      }
    }

    #right {
      transform: scale(.8) !important;
      position: absolute;
      top: 10rem;
      left: 5%;
      opacity: .3 !important;
    }
  }

  #docs {
    .docContent {
      width: 80% !important;
    }
  }


}