<div id="docs">
  <nav id="navBar">
    <ul>
      <li class="selected" onclick="displayDocs(this)" data-path="_about">About</li>
      <li onclick="displayDocs(this)" data-path="_download">Download</li>
      <li onclick="displayDocs(this)" data-path="_installation">Installation</li>
      <li onclick="displayDocs(this)" data-path="_settings">Settings</li>
      <li onclick="displayDocs(this)" data-path="_share">Sharing files</li>
      <li onclick="displayDocs(this)" data-path="_coming">Coming soon...</li>
    </ul>
  </nav>
  <div class="splitLine"></div>
  <div id="_about" class="docContent">
    <h1>About</h1>
    <p>
      Orchidei is an open-source file manager created by me - Atzuki , as a personal project. It is
      designedto allow users to share files across multiple devices quickly, easily and, mainly, for free.
    </p>
    <p>
      Orchidei is a powerful and intuitive file manager which makes it easy to find, share and organize your files. It
      has many features designed to make life easier for users, including:
    </p>
    <p>
    <ul>
      <li>Easy navigation through folders and files</li>
      <li>Ability to quickly transfer files between devices</li>
      <li>Hash-protected files for security</li>
      <li>Customizable settings for individual users</li>
    </ul>
    </p>
    <p>
      Orchidei is designed to be the file manager for users who need a modern and efficient way to manage
      their files. Give it a try today and see how Orchidei can make your file management tasks easier!
    </p>
  </div>
  <div id="_download" class="docContent">
    <h1>Download</h1>
    <p>
      Thank you for your interest in Orchidei, the file manager. To download it, click on the following link or go to
      <a href="https://orchidei.netlify.app/#downloads" class="pinktext"></a>downloads section</a>
    </p>
    <p>
      This link will take you to the download page where you can select the version of Orchidei that is right for you.
      Once you have selected the version, click "Download" and the software will begin downloading. After the download
      is complete, double-click the file to begin installing Orchidei. Follow the on-screen instructions to complete the
      installation.
    </p>
    <p>
      Thank you for choosing Orchidei and I hope you enjoy using it!
    </p>
  </div>
  <div id="_installation" class="docContent">
    <h1>Installation</h1>
    <p>
      Orchidei is a file manager that can be used to manage your files and folders. Installing Orchidei is
      easy and can be done in just a few steps.
    </p>

    <p>
    <ol>
      <li>Download the Orchidei installer. The installer can be found on the official Orchidei website.</li>
      <li>Once you have the installer, double click it to begin the installation process.</li>
      <li>You will be taken through an installation wizard. Follow the instructions on the screen. There shouldn't be
        any
        claims to accept, only the location of installation.</li>
      <li>Once you have completed the installation, Orchidei will be ready to use.</li>
    </ol>
    </p>
    <p>
      Congratulations, you have now installed Orchidei!
    </p>
  </div>
  <div id="_settings" class="docContent">
    <h1>Settings</h1>
    <p>
      Welcome to Orchidei's Settings section! Here you can customize your experience with the Orchidei file manager.
    </p>

    <p>
      To open the settings, type "orchsettings" into the search bar.
    </p>

    <p>
      In the Orchidei Settings, you can modify the following parameters:
    </p>

    <p>
    <ul>
      <li>Language: You can select your preferred language from a range of options</li>
      <li>Default Path: You can select the default folder path for your files</li>
      <li>Safe Mode: You can activate or deactivate the Safe Mode feature for extra security used in deleting and
        copying
        files</li>
    </ul>
    </p>
  </div>
  <div id="_share" class="docContent">
    <h1>Share files</h1>
    <p>
      Orchidei's file manager allows you to easily share your files across multiple devices. Here's how:
    </p>

    <p>
    <ul>
      <li>Right-click on the file you want to share and press the "Share" button.</li>
      <li>A dialog box will open with additional settings, where you can set a limit on the number of downloads for the
        file before it is deleted.</li>
      <li>Press "Share" and you will receive a secret hash. DO NOT SHARE THIS HASH as it will allow access to the shared
        file.</li>
    </ul>
    </p>

    <h1>Share files</h1>
    <p>
      To receive a shared file, follow these steps:
    </p>

    <p>
    <ul>
      <li> Click on the folder where you want to save the file and press the "Receive" button.</li>
      <li> A dialog box will open where you can paste the secret hash you received.</li>
      <li>Press "Download" and the shared file will be saved to the selected folder.</li>
    </ul>
    </p>

    <p>
      In summary, Orchidei's "Share Files" feature allows you to easily share files with others and limit the number of
      downloads before it is deleted. And, to receive the shared file, paste the secret hash in the "Receive" dialog box
      and press "Download."
    </p>
  </div>
  <div id="_coming" class="docContent">
    <h1>More documentation is coming soon!</h1>
  </div>
</div>