<div id="docs">
  <nav id="navBar">
    <ul>
      <li class="selected " onclick="displayDocs(this)" data-path="_download">Download</li>
      <li onclick="displayDocs(this)" data-path="_installation">Installation</li>
      <li onclick="displayDocs(this)" data-path="_settings">Settings</li>
      <li onclick="displayDocs(this)" data-path="_share">Sharing files</li>
      <li onclick="displayDocs(this)" data-path="_coming">Coming soon...</li>
    </ul>
  </nav>
  <div class="splitLine"></div>
  <div id="_download" class="docContent">
    <h1>Download</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae laborum corrupti quam reprehenderit accusamus
      laudantium optio pariatur ab doloremque quidem fugiat neque nam ullam magnam quia, dolore autem harum debitis!</p>
  </div>
  <div id="_installation" class="docContent">
    <h1>Installation</h1>
  </div>
  <div id="_settings" class="docContent">
    <h1>Settings</h1>
  </div>
  <div id="_share" class="docContent">
    <h1>Share files</h1>
  </div>
  <div id="_coming" class="docContent">
    <h1>Coming soon</h1>
  </div>
</div>