<div id="downloads">
  <div class="card ">
    <h3 class="comingSoon">Coming Soon</h3>
    <div class="content" style="filter: blur(8px); user-select: none;">
      <h2>Linux</h2>
      <img src="../assets/linux-icon.svg" alt="Linux icon" class="icon">
      <div class="properties">
        <p>File format: .exe</p>
        <p>Total size: 54MB</p>
      </div>
      <div class="downloadBtn">
        Download
      </div>
    </div>
  </div>
  <div class="card primary">
    <div class="content">
      <h2>Windows</h2>
      <img src="../assets/windows-icon.svg" alt="Linux icon" class="icon">
      <div class="properties">
        <p>File format: .zip</p>
        <p>Total size: 54MB</p>
      </div>
      <div class="downloadBtn downloadable" onclick="downloadWindows()">
        Download
      </div>
    </div>
  </div>
  <div class="card ">
    <h3 class="comingSoon">Coming Soon</h3>
    <div class="content" style="filter: blur(8px); user-select: none;">
      <h2>MacOS</h2>
      <img src="../assets/macos-icon.svg" alt="Linux icon" class="icon">
      <div class="properties">
        <p>File format: .exe</p>
        <p>Total size: 54MB</p>
      </div>
      <div class="downloadBtn">
        Download
      </div>
    </div>
  </div>
</div>