<div id="left">
  <h1>Orchidei</h1>
  <p class="pinkText">...File Manager created for author himself</p>
  <div id="downloadDiv">
    <p id="animationText">Total downloads: <span class="pinkText" id="downloadCount">A lot</span> </p>
    <p class="downloadText">Download</p>
  </div>
</div>
<div id="right">
  <img id="orchImage" src="../assets/base-layout.png"></img>
  <img class=" smallImg" id="settingsImage" src="../assets/orch-settings.png"></img>
  <img class=" smallImg" id="shareImage" src="../assets/orch-share.png"></img>
</div>